.my_background {
    background-color: #083b4c;
}

#grid {
    padding: 0px 20px;
}

#grid .square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    border: 1px black solid;
}