/**************** set Scroll bar style  *************/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}


/* UTILITY */

.my_background {
    background-color: #083b4c;
}

#grid {
    padding: 0px 20px;
}

#grid .square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    border: 1px black solid;

    /* EXPERIMENT */
    animation: opacityChange 0.3s ease-in;
}

/* EXPERIMENT */
#grid .square:hover {
    box-shadow: 0px 0px 15px white;
}

/* EXPERIMENT */
@keyframes opacityChange{
    from {opacity: 0.1}
    
    to {opacity: 1}

}